@import url('//db.onlinewebfonts.com/c/b6b659335771a5cd77643294d0f6c6a4?family=Arkanoid+Solid');
@font-face {font-family: "Arkanoid Solid"; src: url("//db.onlinewebfonts.com/t/b6b659335771a5cd77643294d0f6c6a4.eot"); src: url("//db.onlinewebfonts.com/t/b6b659335771a5cd77643294d0f6c6a4.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b6b659335771a5cd77643294d0f6c6a4.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b6b659335771a5cd77643294d0f6c6a4.woff") format("woff"), url("//db.onlinewebfonts.com/t/b6b659335771a5cd77643294d0f6c6a4.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b6b659335771a5cd77643294d0f6c6a4.svg#Arkanoid Solid") format("svg"); }
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arkanoid Solid";
    font-size: 1.5rem;
    color: white;
    background: url(../images/container-background.jpg) no-repeat fixed;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 1em;
    font-size: 2rem;
}

.container-instructions {
    text-align: center;
    width: 70%;
}

.container-instructions h1 {
    font-size: 4em;
}

/* style buttons */
button {
    font-family: "Arkanoid Solid";
    height: 100px;
    width: 330px;
    padding: 1em 1.5em;
    color: #fff;
    font-size: 2rem;
    background-color: #202020;
    text-align: center;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: #fff;
    color: #202020;
    transition-duration: .4s;
}

#clickBtn {
    border-radius: 15px;
    border: none;
}

.hidden {
    display: none;
}

.scoreboard{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

img {
    height: 60px;
    margin-right: 1em;
}

.score {
    display: flex;
}

.remain-lives {
    display: flex;
}

.lives, .your-score {
    font-family: Arial;
    font-size: 1.5rem;
}

.sound {
    margin-bottom: 5em;
}